{{#aggregation}}
    <span class="badge badge-pill badge-light" role="listitem"
        <strong>{{aggregation}}</strong>
    </span>
{{/aggregation}}
{{#aggregateonlygraded}}
    <span class="badge badge-pill badge-light" role="listitem">
        <strong>{{#str}}aggregateonlygraded, grades{{/str}}</strong>
    </span>
{{/aggregateonlygraded}}
{{#aggregateoutcomes}}
    <span class="badge badge-pill badge-light" role="listitem">
        <strong>{{#str}}aggregateoutcomes, grades{{/str}}</strong>
    </span>
{{/aggregateoutcomes}}
{{#droplow}}
    <span class="badge badge-pill badge-light" role="listitem">
        <strong>{{#str}}droplowestvalues, grades, {{droplow}}{{/str}}</strong>
    </span>
{{/droplow}}
{{#keephigh}}
    <span class="badge badge-pill badge-light" role="listitem">
        <strong>{{#str}}keephigh, grades{{/str}}</strong>
    </span>
{{/keephigh}}
